* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(45deg, #23f96d, #8c0df4);
    width: 100%;
    min-height: 100%;
    border-style: ridge;
    border-width: 45px;
}

h1 {
    font-size: 80px;
    float: right;
    margin-top: 5%;
    margin-right: 7%;
}

h2 {
    font-size: 60px;
    float: right;
    margin-right: 5%;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-container {
        margin-right: auto;
        margin-left: auto;
        float: none;
        max-width: 90%;
        overflow: auto;
    }
    .sidebar {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        padding: 30px;
    }
    .work {
        max-width: 45%;
    }
}

@media screen and (max-width: 640px) {
    #masthead {
        position: static;
    }
    .container {
        width: 100%;
    }
    #logo {
        width: 100%;
    }
    .sidebar {
        padding: 30px;
    }
    nav {
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 980px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-container {
        margin-right: auto;
        margin-left: auto;
        float: none;
        max-width: 90%;
        overflow: auto;
        width: 100%
    }
    .sidebar {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        padding: 30px;
    }
    .work {
        width: 90%;
    }
}